<HEAD>
	<META CHARSET = "UTF-8">
    <TITLE>Cube Software</TITLE>
    <LINK REL = "STYLESHEET" HREF = "main.css">
</HEAD>

<BODY>
				<DIV CLASS = "HEADER">
				<IMG ID = "LOGO_TEXT" SRC = "https://cubesoftware.xyz/resources/logo.png">
				</DIV>

    <TABLE CLASS = "CONTAINER">
		<TR ALIGN = CENTER>
			<TD>

				<UL CLASS = "TEXT">
                        <LI>Cube Software Contact</LI>
                        <LI>------------------------</LI>
                        <LI>email : cubesoft@cubesoftware.xyz</LI>
                        <LI>Im(kacperks) checking email almost everyday</LI>
				<UL CLASS = "BUTTONS">
					<LI><A HREF = "index.htm">BACK TO INDEX</A></LI>
				</UL>


				<P CLASS = "COPYRIGHT">
					Copyright (c) 2022 Cube Software
				</P>
			</TD>
		</TR>
    </TABLE>
</BODY>
