<HEAD>
	<META CHARSET = "UTF-8">
    <TITLE>Cube Software</TITLE>
    <LINK REL = "STYLESHEET" HREF = "main.css">
</HEAD>

<BODY>
    <DIV CLASS = "HEADER">
		<IMG ID = "LOGO_TEXT" SRC = "https://cubesoftware.xyz/resources/logo.png">    
    </DIV>
	
    <TABLE CLASS = "CONTAINER">
		<TR ALIGN = CENTER>
			<TD>
				<H1 CLASS = "TITLE">Welcome to the Cube Software Web site!</H1>
				
				<UL CLASS = "BUTTONS">
					<LI><A HREF = "about.htm">About us</A></LI>
					<LI><A HREF = "projects.htm">Projects</A></LI>
					<LI><A HREF = "members.htm">Members</A></LI>
					<LI><A HREF = "https://documentation.cubesoftware.xyz">Documentation</A></LI>
					<LI><A HREF = "contact.htm">Contact</A></LI>
				</UL>
				
				<P CLASS = "COPYRIGHT">
					Copyright (c) 2022 Cube Software
				</P>
			</TD>
		</TR>
    </TABLE>
</BODY>
