BODY
{
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(https://cubesoftware.xyz/resources/background.png);
    background-size: cover;

	font-family: 'Roboto Mono', monospace;
}

.HEADER
{
    width: auto;
	height: 20vw;
}


#background_dark
{
	position: absolute;
	top: 0px;
	width: 100vw;
	height: 20vw;
}

#logo_text
{
	position: absolute;
	left: 50vw;
	top: -100px;
	margin-left: -270px;
	width: 500px;

	font-family: 'Roboto Mono', monospace;
}

.container
{
    width: 400px;
    max-width: 600px;
    margin-top: 38rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: #ffffff;

	font-family: 'Roboto Mono', monospace;
}


LI
{
	list-style: none;
}

.BUTTONS A
{
	padding: 1rem 6rem;
	display: block;
	font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
	margin: 1rem;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background-color: #00AA9A;
}

.LINKS A
{
	color: #000000;
	font-size: 1.4rem;
	line-height: 1.9rem;

	font-family: 'Roboto Mono', monospace;
}

.COPYRIGHT
{

	font-family: 'Roboto Mono', monospace;
    text-align: center;
}
