<HEAD>
    <META CHARSET = "UTF-8">
    <TITLE>Members of Cube Software</TITLE>
    <LINK REL = "STYLESHEET" HREF = "main.css">
</HEAD>

<BODY>
    <TABLE CLASS = "CONTAINER">
		<TR ALIGN = CENTER>
			<TD>
				<H1 CLASS = "TITLE">The Members of Cube Software</H1>
				<UL CLASS = "LINKS">
					<LI><A HREF = "https://kacperks.cubesoftware.xyz">Kacper "kacperks" Kostka</A></LI>
					<BR></BR>
					<LI><A HREF = "https://lubek.cubesoftware.xyz">Borys "lubek-dc" Kostka</A></LI>
					<BR></BR>
					<LI><A HREF = "https://yavuz.cubesoftware.xyz">Tuncay Yavuz "Yavuz1234567890" Büyükadalı</A></LI>
					<BR></BR>
					<LI><A HREF = "http://mcl.cubesoftware.xyz">Michael Lis</A></LI>
					<BR></BR>
					<LI><A HREF = "https://iglem.cubesoftware.xyz">Igor "Mother Disagreed" Lempicki</A></LI>
					<BR></BR>
					<LI><A HREF = "https://looki2000.cubesoftware.xyz">Łukasz "Looki2000" Brzostowski</A></LI>
					<BR></BR>
					<LI><A HREF = "https://solindek.tech">Solindek</A></LI>
					<BR></BR>
					<LI><A HREF = "https://boomerdev.cubesoftware.xyz">BoomerDev/BoomerBoy</A></LI>
				</UL>
				
				<UL CLASS = "BUTTONS">
					<LI><A HREF = "index.htm">BACK TO INDEX</A></LI>
				</UL>
				
				<P CLASS = "COPYRIGHT">
					Copyright (c) 2022 Cube Software
				</P>
			</TD>
		</TR>
    </TABLE>
</BODY>
