<HEAD>
	<META CHARSET = "UTF-8">
    <TITLE>Cube Software</TITLE>
    <LINK REL = "STYLESHEET" HREF = "main.css">
</HEAD>

<BODY>

    <TABLE CLASS = "CONTAINER">
		<TR ALIGN = CENTER>
			<TD>
				<H1 CLASS = "TITLE">Our Projects:</H1>

				<UL CLASS = "TEXT">
                    <p align="center">
                        <img src="resources/fr.png" width="150" height="150">
                    </p>
                    <a style="color:rgb(14, 110, 2)" href = "http://fractalengine.net">Fractal Engine (C++, OpenGL 3D Game Engine)</a> <br></br>
                    <p align="center">
                        <img src="resources/vox.png" width="200" height="150">
                    </p>
                    <a style="color:rgb(14, 110, 2)" href = "https://github.com/Cube-Software/Voxeler">Voxeler (open source blockchain-based Roblox-like 3D game based on Fractal Engine)  (not public yet, will be realesed under the MIT License)</a> <br></br>
                    <p align="center">
                        <img src="resources/gbfinfo.png" width="150" height="150">
                    </p>
                    <a style="color:rgb(14, 110, 2)" href = "">GBF--info (the International Databse Of Geographical, Building, and Land Feature Information) (not public yet, will be realesed under the MIT License)</a> <br></br>
                    <p align="center">
                        <img src="resources/hc.png" width="150" height="150">
                    </p>

                    <a style="color:rgb(14, 110, 2)" href = "https://github.com/kacperks/HackChat">Hackchat (WIP text messenger rest API) </a> &<a style="color:rgb(14, 110, 2)" href = "https://github.com/lubek-dc/Lubchat"> WIP Lubchat (Python HackChat client)</a>
                </p>
				</UL>

				<UL CLASS = "BUTTONS">
					<LI><A HREF = "index.htm">BACK TO INDEX</A></LI>
				</UL>


				<P CLASS = "COPYRIGHT">
					Copyright (c) 2022 Cube Software
				</P>
			</TD>
		</TR>
    </TABLE>
</BODY>
